
@font-face {
    font-family: 'Metal';
    src: url(/utils/font/Metal_Slug_Latino_Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Metal';
    font-size: 1rem;
}

body {
    justify-content: center;
    align-items: center;
    background-image: url(../img/fondo.png);
    background-repeat: no-repeat;
    background-size: cover 100% 100%;
}

#contenedor{
    height: 40%;
    text-align: center;
    align-content: center;
    display: grid;
}

#contenedor_accion{
    text-align: left;
    display: grid;
    grid-template-rows: 4;
}

button>img{
    width: 1.3rem;
    height: 1.3rem;
    background-color: none;
}
#campanas{
    display: none;
}
#campana{
    background-color: rgb(10, 104, 10);
}
#caja{
    background-color: rgb(10, 104, 10);
}
#tipos_campanas{
    display: none;
    font-size: 0.8rem;
    margin-left: 70px;
}
#armerias{
    display: none;
   
}

#suministros{
    display: none; 
}

#suministro{
    background-color: rgb(10, 104, 10);
}
#fin{
    display: none;
}

#materiales{
    font-size: 1rem;
}

#compras{
    margin-left: 70px;
}
#btn_armeria{
    background-color: rgb(10, 104, 10);
}

#materiales>p{
    width: 50%;
}

#imagenes{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
}

#imagenes>div{
    width: 25%;
    height: 100px;
    display: flex;
}
#imagenes>div>button{
    width: 30%;
    height: 30%;
    font-size: 0.8rem;
}