
@font-face {
    font-family: 'Metal';
    src: url(/utils/font/Metal_Slug_Latino_Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Metal';
}

body {
    justify-content: center;
    align-items: center;
    background-image: url(../img/fondo-js.png);
    background-repeat: no-repeat;
    background-size: cover 100%;
}
#titulo{
    font-size: 4rem;
    text-align: center;
}

#contenedor{
    text-align: center;
}
form>input{
    
    height: 2rem;
    font-size: 1.5rem;
    align-items: center;
}